
<ul class="tweets">
  <ng-container *ngFor="let tweet of tweets">
      <li *ngIf="tweet.text.indexOf('RT') == -1">
          <span class="tweet">
            <span class="tweet-text" [innerHTML]="tweet.text | highlight : '#devdaydd':'#devdaydd' | dehighlight : 'RT':'RT' | username : 'RT'"></span>
            <div class="tweet-user">
              <span class="profile-img">
                <img src="{{tweet.profileImage}}" />
              </span>
              <span class="profile-information">
                <span class="profile-name">@{{tweet.screenName}}</span>
                <span class="profile-location">{{tweet.location}}</span>
              </span>
              <div>{{tweet.time | date:'shortTime'  }}</div>
            </div>
          </span>
        </li>
  </ng-container>
</ul>
