/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

body {
  background: url('/assets/img/eyecatcher.svg'), linear-gradient(-29deg, #373D7A 0%, #2B2E4C 52%, #22232C 98%, #22232C 100%);
  background-size: 125%;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  color: $white;
  font-family: Verdana, Geneva, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  font-size: 14px;

  &::before {
    content: ' ';
    position: absolute;
    height: 60px;
    width: 100%;
    background:  linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%);
    bottom: 0;
  }

}

a {
  color: $highlight;
  text-decoration: none;
}


.highlight {
  color: $highlight;
}

.dehighlight {
  color: $base;
}

.username {
  color: $highlight-dark;
}
